<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/indexArtesano">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-hands"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Artesano</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Inicio -->
    <li class="nav-item <%= (currentPage === 'indexArtesano') ? 'active' : '' %>">
        <a class="nav-link" href="/indexArtesano">
            <i class="fas fa-home"></i>
            <span>Inicio</span>
        </a>
    </li>


    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Gestion
    </div>

    <!-- Nav Item - Productos -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-box-open"></i>
            <span>Productos</span></a>
    </li>

     <!-- Nav Item - Categorias Usadas por el Artesano -->
     <li class="nav-item <%= (currentPage === 'categoriasDelArtesano') ? 'active' : '' %>">
        <a class="nav-link" href="/categoriasDelArtesano">
            <i class="fas fa-list"></i>
            <span> Mis Categorias </span></a>
    </li>

    <!-- Nav Item - Ventas -->
    <li class="nav-item <%= (currentPage === 'ventasArtesano') ? 'active' : '' %>">
        <a class="nav-link" href="/ventasArtesano">
            <i class="fas fa-shopping-cart"></i>
            <span>Ventas</span></a>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        Gestion Productos
    </div>

    <!-- Nav Item - Tables Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-table"></i>
            <span>Modulos</span>
        </a>
        <div id="collapsePages" class="collapse <%= (currentPage !== 'indexAdmin' && 
            currentPage !== 'adminCliente' 
            && currentPage !== 'adminArtesano' 
            && currentPage !== 'adminDelivery') 
            ? 'show' : '' %>" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Gestionar:</h6>
                <a class="collapse-item <%= (currentPage === 'categoria') ? 'active' : '' %>"
                    href="/categoriaArtesano">Categorías</a>
            </div>

        </div>

    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->